.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* min-width: 100px; */
    width: 40%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    margin-bottom: 5%;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-body {
    display : flex;
    min-height: 1px;
    padding: 1.25rem;
    justify-content: center;
  }
  
  .card-title {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .card-img-bottom {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 50%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }