.App-header {
    background-color: #00B3B0;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  h1 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 6px;
    font-weight: 400;
  }
  
  h2 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 6px;
    font-weight: 400;
  }
  
  .App-body {
    background-color: #00B3B0;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .Cards-list {
    background-color: #00B3B0;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: black;
  }