.card2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width : 80%;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    justify-content: center;
    margin-bottom: 2%;
  }

  .card2-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    justify-content: center;
  }
  
   .card2-title {
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;
    justify-content: center;
  }
  
  .card-list {
    background-color: #00B3B0;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  h3 {
    text-align: center;
  }